<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chroma Key</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Collage/style.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link href="https://front.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'collage:index' %}">Chroma Key</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="collage-add">
                        <span class = "glyphicon glyphicon-picture" aria-hidden="true"></span>&nbsp; Add Collage
                    </a>
                </li>
            </ul>
        </div>
    </nav>
{% block body%}
{% endblock %}    
</body>
</html>